:root {
  --maxWidth: 720px;
  --bold: 500;
  --medi: 400;
  --light: 300;
  --font-size-mini: 0.75rem;

  --highlight-alert: #ff0080;
  --highlight-violet: #7928ca;
  --highlight-cyan: #79ffe1;
  --primary-background: #191A23;
  --input-background: rgb(44, 45, 60);
  --primary-foreground: #000;
  --focus-color: #6c79ff;
  --text-color: rgb(210, 211, 224);
  --text-result-color: rgb(238, 239, 252);
  --sub-text-color: rgb(133, 134, 153);
  --border-color: 1px solid rgb(44, 45, 60);
}

ul, li, a, h1, p {
  all: unset
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}


body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  color: var(--text-color);
  background-color: var(--primary-background);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  user-select: none;
  overflow: auto;
}

main {
  align-items: baseline;
  display: flex;
  gap: 25px;
  width: 100%;
  overflow: auto;
  position: relative;
  padding: 25px;
}

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  opacity: 0.2;
  background-color: #4c4e6a66;
  border-radius: 12px;
  border: 3px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-track {
  background: transparent;
}

@media(max-width: 720px) {
  main {
    padding: 0 15px 0 15px;
  }
}

.search {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--maxWidth);
  gap: 12px;
}
h1 {
  align-self: baseline;
}

.search > form {
  width: 100%;
}

.search-results {
  max-width: var(--maxWidth);
}

.input-main--wrapper {
  background-color: var(--input-background);
  border: 1px solid var(--input-background);
  border-radius: 6px;
  padding: 8px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.098) 0px 2px 4px;
  transition-property: border-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.10s;
}

.input-main--wrapper:focus-within {
  border: 1px solid var(--focus-color);
}

.input-main {
  width: 100%;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 1em;
  font-weight: var(--light);
  color: var(--text-color);
  background-color: transparent;
}

.result-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--maxWidth);
  height: 100%;
  position: relative;
  overflow: auto;
  gap: 6px;
}

.result-content--card {
  border-radius: 6px;
  display: flex;
  padding: 20px 20px 20px 20px;
  cursor: pointer;
  justify-content: space-between;
}

.result-content--card:hover {
  background-color: rgb(28, 29, 42);
}

.result-content--card-doc {
  color: var(--text-result-color);
  font-weight: var(--bold);
  font-size: 20px;
}

.result-content--card-meta {
  font-size: 0.75rem;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
  max-width: 450px;
  color: var(--sub-text-color);
}

.result-content-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.chip {
  border: var(--border-color);
  border-radius: 6px;
  background-color: transparent;
  display: flex;
  align-items: center;
  min-width: auto;
  height: 27px;
  padding: 0 6px 0 8px;
  gap: 6px;
}

.chip-kind {
  border-radius: 50%;
  width: 9px;
  height: 9px;
}

.chip-text {
  font-weight: var(--bold);
  color: var(--sub-text-color);
  font-size: var(--font-size-mini);
}

.chip-group {
  display: flex;
  gap: 6px;
  align-items: flex-end;
}

.idf {
  background-color: var(--highlight-violet);
}

.tfidf {
  background-color: var(--highlight-alert);
}
