:root {
  --maxWidth: 720px;
  --bold: 500;
  --medi: 400;
  --light: 300;
  --primary-background: #191A23;
  --focus-color: #6c79ff;
  --text-color: rgb(210, 211, 224);
  --text-result-color: rgb(238, 239, 252);
  --input-background: rgb(44, 45, 60);
  --primary-foreground: #000;
  --highlight-alert: #ff0080;
  --highlight-violet: #7928ca;
  --highlight-cyan: #79ffe1;
}

ul, li {
  all: unset
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}


body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  color: var(--text-color);
  background-color: var(--primary-background);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  user-select: none;
  overflow: auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: var(--maxWidth);
  overflow: auto;
  position: relative;
}

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  opacity: 0.2;
  background-color: #4c4e6a66;
  border-radius: 12px;
  border: 3px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-track {
  background: transparent;
}

@media(max-width: 720px) {
  main {
    padding: 0 15px 0 15px;
  }
}

main > h1 {
  font-size: 3em;
  font-weight: var(--medi);
  user-select: none;
}

.input-main--wrapper {
  background-color: var(--input-background);
  border: 1px solid var(--input-background);
  border-radius: 6px;
  padding: 10px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.098) 0px 2px 4px;
  transition-property: border-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.10s;
}

.input-main--wrapper:focus-within {
  border: 1px solid var(--focus-color);
}

.input-main {
  width: 100%;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 1em;
  font-weight: var(--light);
  color: var(--text-color);
  background-color: transparent;
}

.result-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 12px;
  padding-bottom: 50px;

  position: relative;
  overflow: auto;
}

.result-content--item {
  display: flex;
  align-items: center;
  line-height: normal;
  font-style: normal;
  font-size: 16px;
  padding: 10px 0 10px 10px;
}

.result-content--item:hover {
  background-color: rgb(28, 29, 42);
}

.result-content--item-doc {
  color: var(--text-result-color);
  font-weight: var(--bold);
}

.result-content--item-rel {
  font-weight: var(--bold);
  color: rgb(133, 134, 153);
}

.result-content--item-carrot {
  vertical-align: baseline;
}

.result-content--item-carrot::before {
  padding: 0 6px 0 6px;
  color: rgb(133, 134, 153);
  content: "›";
  vertical-align: baseline;
}
